
  .gridContainer {
    display: grid;
    grid-template-rows: 1fr 1fr; /* two rows of equal height */
    grid-template-columns: 1fr 1fr; /* two columns of equal width */
    gap: 10px; /* gap between grid items */
    height: 90vh; /* Reduced from 80vh */
  }
  
  .chartContainer {
    height: 200px; /* Define a fixed height for the chart container */
    width: 100%;
  }
  
  /* ... rest of your CSS code ... */
  
  
  .riskCard {
    grid-row: 1 / span 1; /* spans one row */
    grid-column: 1 / span 1; /* starts from the first column and spans one column */
  }

  .riskCard .chartContainer {
    transform: scale(0.4);
    transform-origin: center top;
}

  
  .stockCard {
    grid-row: 1 / span 1; /* spans one row */
    grid-column: 2 / span 1; /* starts from the second column and spans one column */
  }
  
  .esgCard {
    grid-row: 2 / span 1; /* spans one row */
    grid-column: 1 / span 1; /* starts from the first column and spans one column */
  }

  .esgCard .chartContainer {
    transform: scale(0.4);
    transform-origin: center top;
}
  
  .newsCard {
    grid-row: 2 / span 1; /* spans one row */
    grid-column: 2 / span 1; /* starts from the second column and spans one column */
  }
  